/* RegisterForm.css */

.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%; /* Adjust width as needed */
  }
  
  .register-form {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form h2 {
    color: #333;
  }
  
  .register-form .form-group {
    margin-bottom: 20px; /* Adjust the margin bottom as needed */
  }
  
  .register-form .submit-button {
    margin-top: 20px; /* Adjust the margin top as needed */
  }
  